h1 {
    color: #3498db;
}

html,
body {
    margin: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Arial', sans-serif;
    background-color: #1e212d;
}

#delaunayResult {
    border: black 2px solid;
    margin: 50px;
    max-width: 500px;
    height: 500px;
    overflow: scroll;
}
